html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(197, 172, 172);
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.kan {
  
}

main {
  background-color: rgb(169, 185, 233);

